<form #actorForm="ngForm" (ngSubmit)="addActor(actorForm)">
    <div>
        <label>
            name: <input name="name" placeholder="name" [(ngModel)]="actor.name" />
            <!-- name: <input name="name" placeholder="name"> -->
        </label>
        <br />
        <label>
            year: <input name="year" placeholder="year" [(ngModel)]="actor.year"/>
            <!-- year: <input name="year" placeholder="year" type="year"> -->
        </label>
        <br />
        <!-- <label>
            Movie: <input name="movieName" placeholder="movie Name" [(ngModel)]="actor.movies[0].name"/>
        </label>
        <label>
            Movie: <input name="movieYear" placeholder="movie year" [(ngModel)]="actor.movies[0].year"/>
        </label>
        <br /> -->

        <button type="submit">Add</button>
    </div>
</form>