<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div>
        <label>
            UserName: <input name="username" placeholder="UserName" [(ngModel)]="credentials.username" />
            <!-- UserName: <input name="username" placeholder="UserName"> -->
        </label>
        <label>
            Password: <input name="password" placeholder="Password" type="Password" [(ngModel)]="credentials.password"/>
            <!-- Password: <input name="password" placeholder="Password" type="Password"> -->
        </label>
        <button type="submit">logIn</button>
    </div>
</form>